<div class="col-sm-8">
  <form>

    <div class="form-group">
      <label >Nom Complet</label>
      <input for = "inputNom" name="nom" type="text" [(ngModel)]="prof.nom" class="form-control" id="exampleInputNom">
    </div>


    <div class="form-group">
      <label >Nom d'utilisateur</label>
      <input for = "inputUserName" name="username" type="text" [(ngModel)]="prof.username"class="form-control" id="InputUserName">
    </div>

    <div class="form-group">
      <label >Mot de passe</label>
      <input for= "InputPassword" name="password" type="password" [(ngModel)]="prof.password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
  </form>
</div>


