<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->



    <!-- Login Form -->
    <form>

      <div class="insert">
        <input type="text" id="username"  name="username" [(ngModel)]="username" placeholder="username">
        <input type="password" id="password"  name="password" [(ngModel)]="password" placeholder="password">
      </div>
      <div>
        <p class="p-container">
          <input type="submit" name="Login" id="go" value="Login" (click)="dologin()">
        </p>
      </div>
    </form>



  </div>
</div>

