

    <div >
      <button class="btn btn-outline-dark" type = "submit" routerLink="ajouter" >Ajouter Etudiant</button>
      <button class="btn btn-outline-dark" type = "submit" routerLink="modifier" >Modifier Etudiant</button>
      <button class="btn btn-outline-dark" type = "submit" routerLink="supprimer" >Supprimer Etudiant</button>
      <button class="btn btn-outline-dark" type = "submit" routerLink="listeEtudiants" >Liste des Etudiants</button>
    </div>

    <router-outlet></router-outlet>





