<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Espace Admin</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <button class="btn btn-outline-secondary"  type = "submit" routerLink="professeur" >Absence</button>
    <button class="btn btn-outline-secondary" type = "submit" routerLink="classe" >Classe</button>
    <button class="btn btn-outline-secondary" type = "submit" routerLink="module" >Module</button>
    <button class="btn btn-outline-secondary" type = "submit" routerLink="etudiant" >Etudiant</button>
    <button class="btn btn-outline-secondary" type = "submit" routerLink="professeur" >Professeur</button>
    <button class="btn btn-outline-secondary" type = "submit" routerLink="filiere" >Filiere</button>


  </div>

</nav>
<router-outlet></router-outlet>
